<div class="user-container">
  <span class="photo">
    <% if user.photo != nil %>
      <%= image_tag(user.photo, size: '100') %>
    <% end %>
  </span>
  <div class="info">
    <h2 class="name">
      <%= link_to user.name, user_path(user), class: "link" %>
    </h2>
    <p class="sub-info">
      Number of posts: <%= user.posts_counter %>
    </p>
  </div>
</div>
