<div class="posts">
  <section class="user-box">
    <%= render partial: "users/user", locals: { user: @user } %>
  </section>
  <section>
    <% @user.posts.each do |post| %>
      <div>
        <%= render partial: "post", locals: { post: post } %>
      </div>
      <div>
        <% if post.comments.empty? %>
          <p>"There are no comments in this post"</p>
        <% else %>
          <% post.comments.each  do |comment| %>
            <%= comment.user.name %> : 
            <%= comment.text %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </section>
  <button>Pagination</button>
</div>
